@page
@model TaskManagement.Pages.DeleteTaskModel
@{
    ViewData["Title"] = "Create New Task";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/css/task/delete/delete.css" rel="stylesheet">
</head>
<body>
    <h1>Delete a Task</h1>

    <form method="post">
        <div>
             <label for="TaskId">Task:</label>
            <select name="TaskId" id="TaskId" class="form-control" required>
                @foreach (var task in Model.tasks)
                {
                    <option value="@task.id">@task.tittle</option>
                }
            </select>
        </div>
        <div>
            <button type="submit">Delete Task</button>
        </div>

    </form>
</body>
</html>