@page
@{
    ViewData["Title"] = "TaskList";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/css/login/loginStyle.css" rel="stylesheet">
</head>
<body>
   <h1>Test TaskList</h1>
</body>
</html>
